
@font-face {
  font-family: Sancoale;
  src: url(../fonts/Sancoale\ Regular.ttf);
}
@font-face {
  font-family: Sancoale Bold;
  src: url(../fonts/Sancoale\ Bold.ttf);
}
html,
body {
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
  font-family: "Sancoale Bold", BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  overflow-x: hidden;
}
ul{
  list-style: none;
  margin: 0;
  padding: 0;
}
a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
:root{
  --color--primary : #bc0f28;
  --color--secondary : #223059;
  --color--terciary : #354B8C;
  --color--button : #EF1837;
  
}
.slick-initialized .slick-slide {
    justify-content: center !important;
    display: flex !important;
}
.slick-dots{
  bottom: -15px !important;
}

.slick-dots li{
   width: 12px !important;
   height: 12px !important;
   border-radius: 50% !important;
   background: gray;
}
.slick-dots li button:before {
  color: gray !important;
  width: 12px !important;
   height: 12px !important; 
}
.slick-dots li.slick-active button:before { 
    background: var(--color--button) !important;
    border-radius: 50%;
    color: var(--color--button) !important;
}

.arrow_rigth{
  position: absolute;
  top: 50%;
  right: 10px;
  cursor: pointer;
}
.arrow_left{
  position: absolute;
  top: 50%;
  left: 10px;
  cursor: pointer;
}
.title_home{
  color: var(--color--secondary);
  text-align: left;
  margin-top: 20px;
  width: 100vw;
  margin-left: 30px;
}

.slick-track{
  display: flex;

}

.product-dots.slick-product {
  display: flex !important;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  margin-top: 30px;
 
}

.product-dots.slick-product li.slick-active {
  border: 1px solid red;
  border-radius: 0;
}

.product-dots.slick-product li {
  width: 50px !important;
  height: 50px !important;
  margin: 0 3px;
  transition: all 0.5s ease-in-out;
  will-change: width;
  display: flex;
  border: none;
  cursor: pointer;
}
.product-dots.slick-product li img{
   width: 80% !important;
   object-fit: contain;
}
.product-dots.slick-product li a{
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
}

 @media screen and (min-width:900px){
    
  .slick-dots li{
   width: 15px !important;
   height: 15px !important;
   border-radius: 50%;
   
   border-radius: 50% !important;
   background: gray;
}
.slick-dots li.slick-active button:before { 
    background: var(--color--button) !important;
    border-radius: 50%;
    color: var(--color--button) !important;
}

.slick-dots li button:before {
  color: gray !important;
  width: 15px !important;
   height: 15px !important;
  
}
.slick-dots{
  bottom: -35px !important;
}
.title_home{
  font-size: 2.5rem;
  margin-left: 4rem;
  margin-top: 4rem;
}
.product-dots.slick-product li {
  width: 70px !important;
  height: 70px !important;
  }
}

  @media screen and (min-width:1301px){
    .title_home{
      margin-left: 5.5rem;
    }
  }
